<%/* File name: Assignment1-Comp229004-301159366, Student’s Name: Fouad Ouardi, StudentID: 301159366, and Date 2022/June/04 */%>
<% include partials/header.ejs %>
  
  <div class="container">
    <div> 
        <% include partials/content.ejs %>
    </div>
  </div>

<% include partials/footer.ejs %>